body {font-family: "Segoe UI",tahoma,helvetica;}

h4 {margin: 0.5em 0;}

.contrast {color:#1BA1E2;}
.subtle {color:#999;}
.square.correct {background:silver;}

#gameField {width:620px;height:620px;margin:20px auto 0 auto;}
#gameStatus {width:620px;margin:0 auto;}

.square {width:150px;height:150px;background:#1BA1E2;border:1px solid white;float:left;position:relative;}
.square.empty {background:none;}

#gameField>.square>h3 {margin:0px;padding:50px 0 0 0;height:100px;width:150px;color:white;font-size:2em;text-align:center;}

/* arrow directions */
#gameField>.square.over:hover>h3,.square.under:hover>h3,.square.left:hover>h3,.square.right:hover>h3{position:relative;background-position: center center;background-repeat:no-repeat;}

#gameField>.square.over:hover>h3{height:100px;padding-bottom:152px;background-image:url('.././arrow-over-normal.png');}
#gameField>.square.under:hover>h3{height:100px;top:-152px;padding-top:202px;background-image:url('.././arrow-under-normal.png');}
#gameField>.square.left:hover>h3{width:150px;padding-right:152px;background-image:url('.././arrow-left-normal.png');}
#gameField>.square.right:hover>h3{width:151px;left:-151px;padding-left:150px;background-image:url('.././arrow-right-normal.png');}