body {font-family: "Segoe UI",tahoma,helvetica;}

h4 {margin: 0.5em 0;}

.contrast {color:#1BA1E2;}
.subtle {color:#999;}
.tile.correct {background:silver;}

#gameField {width:608px;height:608px;margin:20px auto 0 auto;}
#gameField.correct>.tile {background:green;}
#gameField.correct>.tile.empty {background:white;}
#gameStatus {width:608px;margin:0 auto;}

.tile {width:150px;height:150px;background:#1BA1E2;border:1px solid white;float:left;position:relative;}
.tile.empty {background:none;}

#gameField>.tile>h3 {margin:0px;padding:50px 0 0 0;height:100px;width:150px;color:white;font-size:2em;text-align:center;}